<app-navbar></app-navbar>


<router-outlet>



<!-- 1er element -->
    <a href="ss" class="block max-w-8xl mt-20 mx-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="text-xl mb-4 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-book-bookmark"></i>  Votre candidature a été déposée .</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400"> Droit privé .</p>
        <p class="font-normal text-red-700 dark:text-red-400"> Télecharger le formulaire d'inscription .</p>
    </a>
<!-- 2eme element contient timing pour le reste de temps  -->
    <a href="ss" class="block max-w-8xl mt-4 mx-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h6 class="text-xl mb-4 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-exclamation"></i> Reste</h6>
        <p class="font-normal text-gray-700 dark:text-gray-400"> Votre candidature a été enrgistré . Vous recevez à partir du 24 aout votre score par mail . </p>
    </a>
  <!-- 3eme element contient les 5 optiosn -->
  <div style="display: flex; justify-content: space-between;text-align: center;" class="block max-w-10xl mt-4 mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <a href="/home" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
        <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-id-card"></i> Profil d'inscription</h6>
      </a>
      <a href="/moyennebac" class="block max-w-4xl mx-2 p-3 bg-green-500 border border-gray-200 rounded-lg shadow hover:bg-green-600 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
      <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-calculator"></i> 2 : Moyenne du bac</h6>
      </a>
      <a href="/curus" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
        <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-list"></i> 3 : Cursus universitaire</h6>
      </a>
      <a href="/choix" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
        <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-check"></i> 4 : Choix du mastère</h6>
      </a>
      <a href="/impression" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
        <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-print"></i> Impression du profil d'inscription</h6>
      </a>
  </div>
<!--les elements specifique pour le moyenne -->
<!-- 1er partie -->
<div style="gap: 20px; display: flex;justify-content: center; " class="block max-w-8xl mb-20 mt-4 mx-2 p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <div class="w-full max-w-8xl p-3  bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="mt-auto" style="display: flex; gap: 10px; align-items: center;">
                <div style="flex:1;">
                    <label for="years" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Année du bac</label>
                    <select id="years" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option selected>2024</option>
                      <option value="2023">2023</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option>
                      <option value="2019">2019</option>
                      <option value="2018">2018</option>
                      <option value="2017">2017</option>
                    </select>                
                </div>
                <div style="flex: 1;">
                    <label for="Moyenne" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Moyenne</label>
                    <input type="text" name="Moyenne" id="Moyenne" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="10.00"  />
                </div>
            </div>
            <div>
              <label for="nature" class="block mt-2 mb-2 text-sm font-medium text-gray-900 dark:text-white"> Nature </label>
                <select id="nature" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option selected>Science expérimentales</option>
                      <option value="Mathématiques">Mathématiques</option>
                      <option value="Technique">Technique</option>
                      <option value="Littéraire">Littéraire</option>
                      <option value="Économie et Gestion">Économie et Gestion</option>
                      <option value="Sciences Humaines">Sciences Humaines</option>
                      <option value="Langues Vivantes">Langues Vivantes</option>
                      <option value="Arts et Culture">Arts et Culture</option>
                      <option value="Sport et Loisirs">Sport et Loisirs</option>
                      <option value="Autre">Autre</option>
                </select>                
              <button type="button" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Valider</button>
            </div>
          </div>
  
  


<!--2eme partie de page SPA-->
    <div class="w-full max-w-8xl p-3 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="text-xl font-medium text-gray-900 dark:text-white">Les Étapes d'inscription</h5>
      <h6 class="text-md mt-2 mb-2 font-medium text-gray-900 dark:text-white">Après inscription vous devez suivre les étapes suivantes afin d'obtenir votre score :</h6>
        <div style="text-align:start;" class="flex flex-col mt-4">
            <button type="button" style="text-align: start; width: 50%" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"> <i class="fa-solid fa-hand-point-right"></i><a href="/moyennebac"> 1 : Saisir la moyenne du baccalauréat</a></button>
            <button type="button" style="text-align: start; width: 50%" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"><i class="fa-solid fa-hand-point-right"></i><a href="/curus"> 2 : Saisir le cursus universitaire</a></button>
            <button type="button" style="text-align: start; width: 50%" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"><i class="fa-solid fa-hand-point-right"></i><a href="/choix"> 3 : Choisir le master</a></button>
            <button type="button" style="text-align: start; width: 50%" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900"><i class="fa-solid fa-hand-point-right"></i><a href="/impression"> 4: Impression du profil d'inscription</a></button>
        </div>
    </div>
</div>

    


  
</router-outlet>


<app-footer></app-footer>