<app-navbar></app-navbar>


<router-outlet>




  <a href="ss" class="block max-w-8xl mt-20 mx-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="text-xl mb-4 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-book-bookmark"></i>  Votre candidature a été déposée .</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400"> Droit privé .</p>
    <p class="font-normal text-red-700 dark:text-red-400"> Télecharger le formulaire d'inscription .</p>
  
  </a>

  <a href="ss" class="block max-w-8xl mt-4 mx-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h6 class="text-xl mb-4 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-exclamation"></i> Reste</h6>
    <p class="font-normal text-gray-700 dark:text-gray-400"> Votre candidature a été enrgistré . Vous recevez à partir du 24 aout votre score par mail . </p>
  </a>
  <div style="display: flex; justify-content: space-between;text-align: center;" class="block max-w-10xl mt-4 mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <a href="/home" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
      <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-id-card"></i> Profil d'inscription</h6>
    </a>
    <a href="/moyennebac" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
    <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-calculator"></i> 2 : Moyenne du bac</h6>
    </a>
    <a href="/curus" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
      <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-list"></i> 3 : Cursus universitaire</h6>
    </a>
    <a href="/choix" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
      <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-check"></i> 4 : Choix du mastère</h6>
    </a>
    <a href="ss" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
      <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-print"></i> Impression du profil d'inscription</h6>
    </a>
  
</div>

<div class="block max-w-10xl mb-20 mt-4 mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <a href="ss" class="block max-w-8xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
    
    <div style="cursor: pointer;text-align: center; display: block; " class="block max-w-sm mt-4 mx-2 p-2 bg-gray-600 border border-gray-200 rounded-lg shadow hover:bg-gray-800 dark:bg-gray-800 dark:border-gray-800 dark:hover:bg-gray-800">
      <h6 class=" text-sm font-medium text-white dark:text-gray-800">Exporter le profil d'inscription</h6>
    </div>
    <div style="width: 100%; display: flex;" class="block max-w-8xl p-6 mx-2 mt-2 ">
    <embed src="https://www.osureunion.fr/wp-content/uploads/2022/03/pdf-exemple.pdf" width="800" height="500" type="application/pdf">
    </div>

  </a>
</div>



    


  
</router-outlet>


<app-footer></app-footer>