<app-navbar></app-navbar>


<router-outlet>
  <!-- premiere element  -->
          <a href="ss" class="block max-w-8xl mt-20 mx-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="text-xl mb-4 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-book-bookmark"></i>  Votre candidature a été déposée .</h5>
              <p class="font-normal text-gray-700 dark:text-gray-400"> Droit privé </p>
              <p class="font-normal text-red-700 dark:text-red-400"> Télecharger le formulaire d'inscription </p>
          </a>
  <!-- deuxieme element -->
        <!-- element de rest + chronometre du temps resté -->
          <a href="ss" class="block max-w-8xl mt-4 mx-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h6 class="text-xl mb-4 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-exclamation"></i> Reste</h6>
            <p class="font-normal text-gray-700 dark:text-gray-400"> Votre candidature a été enrgistré . Vous recevez à partir du 24 aout votre score par mail . </p>
          </a>
  <!-- troisieme element  -->
      <div style="display: flex; justify-content: space-between;text-align: center;" class="block max-w-10xl mt-4 mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <!-- profile d'inscription -->
            <a href="/home" class="block max-w-4xl mx-2 p-3 bg-green-500 border border-gray-200 rounded-lg shadow hover:bg-green-600 hover:text-white dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
              <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-id-card"></i> Profil d'inscription</h6>
            </a>            
            <!-- moyenne du bac -->
                <a href="/moyennebac" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
                <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-calculator"></i> 2 : Moyenne du bac</h6>
                </a>
            <!-- Curus unversitaire -->
                <a href="/curus" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
                  <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-list"></i> 3 : Cursus universitaire</h6>
                </a>
            <!-- choix du mastere -->
                <a href="/choix" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
                  <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-check"></i> 4 : Choix du mastère</h6>
                </a>
            <!-- impression du profile d'inscription -->
                <a href="/impression" class="block max-w-4xl mx-2 p-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="flex: 1;">
                  <h6 class="text-xl mb-2 font-medium text-gray-900 dark:text-white"><i class="fa-solid fa-print"></i> Impression du profil d'inscription</h6>
                </a>
      </div>

<!-- l'element changable dans l'element profile d'inscription -->
  <div style="gap: 20px; display: flex;" class="block max-w-10xl mb-20 mt-4 mx-2 p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <!--les donnees d'insription-->
        <div class="w-full max-w-8xl p-3  bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
          <h5 class=" text-xl font-medium text-gray-900 dark:text-white">Donnees d'inscription</h5>
            <!-- div pour les elements de donnes d'inscription display flex pour ces deux elements -->
            <div style="gap: 20px; display: flex;  " class="w-full max-w-8xl p-3 ">
                <!-- l'image -->
                <div class="image">
                  <img class="mt-2 w-20 h-25 " src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt="user photo"/>
                </div>
              <!--liste des informations user-->
                <div style="flex: 1 30px; " class="tableau mt-2 mx-14">
                  <div class="relative overflow-x-auto">
                    <table >
                      <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                      Nom & Prenom (FR)
                                  </th>
                                  <td class="px-6 py-4">
                                      Ali Bilel
                                  </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                      Nom & Prenom (AR)
                                  </th>
                                  <td class="px-6 py-4">
                                    علي بلال
                                  </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                  CIN
                              </th>
                              <td class="px-6 py-4">
                                11253695
                              </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Date de naissance
                            </th>
                            <td class="px-6 py-4">
                              2000-05-20
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Lieu de naissance
                            </th>
                            <td class="px-6 py-4">
                              Tunis
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Adresse
                            </th>
                            <td class="px-6 py-4">
                              Route gremda 10 km
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    <!--les etapes d'inscription-->
    <div class="w-full max-w-8xl p-3 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="text-xl font-medium text-gray-900 dark:text-white">Les Étapes d'inscription</h5>
      <h6 class="text-md mt-2 mb-2 font-medium text-gray-900 dark:text-white">Après inscription vous devez suivre les étapes suivantes afin d'obtenir votre score :</h6>
        <div class="buttons flex flex-col mt-4 ">
          <button type="button" style="text-align: start; width: 50%" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"> <i class="fa-solid fa-hand-point-right"></i><a href="/moyennebac"> 1 : Saisir la moyenne du baccalauréat</a></button>
          <button type="button" style="text-align: start;width: 50%"  class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"><i class="fa-solid fa-hand-point-right"></i><a href="/curus"> 2 : Saisir le cursus universitaire</a></button>
          <button type="button" style="text-align: start; width: 50%" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"><i class="fa-solid fa-hand-point-right"></i><a href="/choix"> 3 : Choisir le master</a></button>
          <button type="button" style="text-align: start;width: 50%" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900"><i class="fa-solid fa-hand-point-right"></i><a href="/impression"> 4: Impression du profil d'inscription</a></button>
        </div>
    </div>
    
  </div>

    


  






</router-outlet>


<app-footer></app-footer>